*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#1A1919;

  }
.box{
    width: 94%;
    height:440px 
}
.container{
    float: right;    
    width: 65%;
    height:350px ;
}
.title{
    margin:2% 7%;
    color: #fff;
}
#drop-container{
    background-color:#1A1919;
    margin: 0 7%;
    border: dashed 3px #dbb338;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#drop-container:active{
    border: solid 3px #dbb338;
    cursor: pointer;
}
.icon{
    font-size: 100px;
    color:#dbb338 ;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
    display: block;
}
#icon2{
    display: none;
    font-size: 100px;
    color:#dbb338 ;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
}
.drag-desc{
    display: flex;
    margin-left: 117px;
}
.drag-drop h3{
color: #fff;
display: none;
margin-bottom: 20px;
font-size: 15px;
}
.drag-drop{
    padding: 2%;
}
.drag-desc h2 {
    color:#fff ;
    margin-bottom:15px ;
    
}
.drag-drop input{
    display: none;
}
.drag-desc .browse{
    color: #dbb338;
    cursor: pointer;
    text-decoration: underline;
    font-size: 26px;
    margin-left: 5px;
}
#drop-container p{
    color:#ffffff1e ;
    font-size: 19px;
}
#drop-area img{
    max-width: 250PX;
    max-height: 200PX;
    background-color:#1A1919;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10PX;
    cursor: pointer;
}